p { font-family: Arial, sans-serif; font-size: 14px; }

            header {
                background-color: blue;
                color: white;
                padding: 20px;
                border: 9px solid lightgray;
                margin: 9px;
            }
            nav {
                background-color: orangered;
                padding: 20px;
                border: 9px solid lightslategray;
                margin: 9px;
            }
            section {
                background-color: yellow;
                padding: 20px;
                margin-bottom: 20px;
                border: 9px solid lightslategray;
            }
            article {
                background-color: lightgreen;
                padding: 10px;
                color: black;
                border: 9px dashed lightslategray;
                margin: 9px;
            }
            aside {
                background-color:white;  
                color: white;
                padding: 20px;
                font-size: 14px;
                font-weight: bold;
                border: 9px solid lightslategray;
                margin: 9px;
            }
            footer {
                background-color: darkslategrey;
                color: white;
                text-align: center;
                padding: 20px;
                font-size: 14px;
                font-weight: bold;
                margin: 9px;
                border: 9px solid lightslategray;
            }